.dataContainer {
    width: 800px;
    margin: 20px 0px 10px 0px;
}

.tabs {
    display: flex;
    justify-content: space-between;
    
}

.tabs button {
    background-color: lightgray;
    border: none;
    color: #888888;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease-out;
    font-weight: 200;
    font-family: 'Roboto';
    font-size: 20px;
    
}

 
.dot{
    margin: 0;
}
.tabs button:disabled {
    
    font-weight: 500;
    color: #58637a;
}



