:root{
    --dim-color:rgb(188, 192, 226)
}
.topbar{
    display: flex;
    color: aliceblue;
    font-family: 'Roboto';
    font-weight: 500;
    justify-content: space-between;
    padding:5px;
    margin-top: 3vh;
}

.notify{
    padding-left: 10px;    
    display: flex;
    margin: 5px;
}
.notify-box{    
    width:20px;
    height:20px;
    border-radius: 5px;
    background-color: rgb(140, 58, 58);
    display: flex;
    justify-content: center;    
}
.middle{
    margin-top: 5vh;    
    align-items: center;
    color:white;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.toptile{
    display: flex;
}
#weather-img{
    padding: 5px;
    margin-top: 30px;
    width: 30px;
    height: 30px;
}
.today{
    
    color: white;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 0%;
    padding: 5px;
}
.date{
    color: var(--dim-color);
    font-size: 15px;
    
}
.temp{
    display: flex;
   margin-top: 10px;
    
     
}
.temperature{
    font-size: 120px;
    font-weight: 200;
}

.degcel{
    margin-top: 20px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 100;
    color: rgb(202, 211, 220);
}
.cityname{
    color:var(--dim-color)
}
.btm{
   
    font-family: 'Roboto';
    font-size: 15px;
    color: rgb(164, 172, 180);
    margin: 20px 80px 0px 100px;
    
}
#profile{
    padding:5px;
    border-radius: 20px;
}
.btm-title-text{
    
    font-size: 20px;
    padding: 10px;
    color: white;
}
.bottom{
    margin-top: 16vh;
    
}