.inputStyle{
width:250px;
height:25px;
border:0px;
outline:None;

}
.SearchBar{
    position: relative;   
    background-color: white;
    width:300px;
   
}
#searchIcon{
    position:relative;
    background-color:white;
    width:22px;
    height: 22px;
    padding-top: 3px;
}