.inputStyle{
width:250px;
height:25px;
border-radius:10px;
border:0px;
outline:None;
cursor:pointer
}
.SearchBar{
    position: relative;    
    padding:10px;
    background-color: white;
    width:300px;
    border-radius: 10px;
    
}
#searchIcon{
    position:relative;
    background-color:white;
    width:22px;
    height: 22px;
    padding-top: 3px;
}