.App {
  position: relative;
  background-color: #f4fbfe;
  width: 1200px ;
  margin: auto;
  padding: 20px;
  display: flex;
  height: 900px;
}
.left{
  margin: 0;
  width: 800px;
 

}
.right{
  
  width:400px;
  background-color: #12163c;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
